---
const title = "TEXOMA MANUFACTURERS";
const subtitle = "THIS IS A COMPREHENSIVE LIST OF STEEL MATERIAL AND TRAILER MANUFACTURERS IN THE TEXOMA AREA THAT WE HAVE DELIVERY TRAILERS.";

import Layout from "../layouts/Layout.astro";

import HeaderSmall from "../components/HeaderSmall.astro";
import ProjectCard from "../components/ProjectCards.astro";
import ProjectCard1 from "../components/ProjectCards1.astro";
import ProjectCard2 from "../components/ProjectCards2.astro";
import ProjectCard3 from "../components/ProjectCards3.astro";
import data from "../data/site.json";

type Props = {
  projectTitle: string;
  projectTitle1: string;
  projectTitle2: string;
  projectTitle3: string;
  href: string;
  body: string;
  body1: string;
  body2: string;
  body3: string;
  type?: string;
  repo?: string;
};
---

<Layout title="Manufactures">
  <main>
    <HeaderSmall title={title} subtitle={subtitle} />
    <div class="">
      <section class="section">
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16">
          <div class="grid md:grid-cols-2 sm:grid-cols-1 gap-8">
            {
              data.projects.map(
                (
                  value: {
                    projectTitle: string;
                    projectTitle1: string;
                    projectTitle2: string;
                    projectTitle3: string;
                    href: string;
                    about: string;
                    about1: string;
                    about2: string;
                    about3: string;
                    repo?: string;
                    type?: string;
                  },
                  index: number
                ) => {
                  return (
                    <ProjectCard
                      projectTitle={value.projectTitle}
                      href={value.href}
                      body={value.about}
                      type={value.type}
                      repo={value.repo}
                    />
                    <ProjectCard1
                      projectTitle1={value.projectTitle1}
                      href={value.href}
                      body1={value.about1}
                      type={value.type}
                      repo={value.repo}
                    />
                    <ProjectCard2
                      projectTitle2={value.projectTitle2}
                      href={value.href}
                      body2={value.about2}
                      type={value.type}
                      repo={value.repo}
                    />
                    <ProjectCard3
                      projectTitle3={value.projectTitle3}
                      href={value.href}
                      body3={value.about3}
                      type={value.type}
                      repo={value.repo}
                    />
                  );
                }
              )
            }
          </div>
        </div>
      </section>
    </div>
  </main>
</Layout>

<style></style>
